<!doctype html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>天益教育</title>
</head>

<body>
    <header>
    </header>
    <p>注册成功</p>
    <p>
        <button type="button" id="register_submit" onclick="javascrtpt:window.location.href='//www.52tyjy.com/home'">回到主页</button>
    </p>

</body>

</html>