<link media="all" type="text/css" rel="stylesheet" href="/stylesheets/common/main.css">
<div class="container-fluid my_container_both">
  <div class="row">

    <div class="aside-l">
      {{!-- col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 --}}
      <div class="aside-container">
        <h3 class="title my_asidecontainer_bgc">
          个人中心
        </h3>
        <div class="nav-container">
          <ul class="sidenav">
            <li>
              <a class='active'>个人资料</a>
            </li>
            <li>
              <a>我的收藏</a>
            </li>
            <li>
              <a>我的论坛</a>
            </li>
            <li>
              <a>我的消息</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="my_content">{{!-- my_timu_start --}}
      <h3 class="text col-center-block">个人资料</h3>
      <div class="col-center-block">
        <div class="aside-l">
          <img class='head_portrait' alt='头像' src='/img/common/logo.png'>
        </div>
        <div class="my_content my_user_center">
          <ul>
            <li>
              <label>花币:</label>   
              <a>充值</a>
            </li>
            <li>
              <label>用户名：</label>
              <span></span>
              <a>修改</a>
            </li>
            <li>
              <label>性别：</label>
              <input type='radio' name='sex' value='male'>
              <label>男</label>
              <input type='radio' name='sex' value='female'>
              <label>女</label>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>